# Certificates
*.crt
# Privacy Enhanced Mail
*.pem
# Certificate Bundles
*.p7b
# Personal Information Exchange
*.p12
# GNU Privacy Guard
*.gpg
# Private Keys
*.key
# ASCII Armored Text
*.asc

.hooks
Library/
.password-store/
.dotfiles-bare/
.dotfiles/
company/
dev/
pro/
olx/
blog/
hero/
pi/
arduino/
.ssh/
.Trash/
logs/
*.log
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
id_rsa
scripts/jetbrains-agent/
scripts/every
anticaptcha-plugin_*.crx
node_modules
homedir/.config/
homedir/.vim/backup/*
!homedir/.vim/backup/.gitignore
homedir/.vim/temp/*
!homedir/.vim/temp/.gitignore
homedir/.vim/.netrwhist
homedir/.vim/bundle/*
!homedir/.vim/bundle/.gitignore
!homedir/.vim/bundle/Vundle.vim
package-lock.json
Gemfile.lock


# gpg
# .gnupg
*.kbx
*.kbx~
openpgp-revocs.d/*
openpgp-revocs.d
private-keys-v1.d/*
private-keys-v1.d
#########
# macOS #
#########
# General
*~
.*.swp
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

############
# Security #
############
id_rsa
*id_rsa

###########
# Tooling #
###########
.vagrant/

#######
# VIM #
#######
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#########
# Maven #
#########
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


########
# Node #
########
# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# GistID:963f95aaf61d50e512511ac4eb097e50
# global gitignore
# https://stackoverflow.com/a/40043793/2577465
# git config --global core.excludesfile ~/.gitignore
cscope*
.plan
.DS_Store
tags
.session.vim