file:///home/{{ username }}/site
file:///home/{{ username }}/blog
file:///home/{{ username }}/dev
file:///home/{{ username }}/docs
file:///home/{{ username }}/pro
file:///home/{{ username }}/pi
file:///home/{{ username }}/Desktop
file:///run/media/{{ username }}/safe/safe/gpg
file:///mnt/truenas
smb://studio-pc.home-network.io/footage/ footage
