#!/bin/bash

LOCALUSER="{{ username | default('user') }}"
ANSIBLEUSER="velociraptor"
BRANCH="{{ branch | default('master') }}"
LOGFILE="/var/log/ansible.log"
REPO="{{ upstream | default('https://github.com/homeofficehost/dotfiles') }}"
COMMON_OPTS="--vault-password-file /home/${ANSIBLEUSER}/.vault_key --url $REPO --limit $(cat /etc/hostname).local --checkout $BRANCH"

if pgrep -f ansible-pull > /dev/null; then
  printf "\n$(date +"%Y-%m-%d %H:%M:%S") A running ansible-pull process was found.\nExiting.\n" | tee -a "$LOGFILE"
  exit 1
fi

if [[ ! -z "$1" ]]; then
  ansible-pull --tags "$1" $COMMON_OPTS 2>&1
else
  ansible-pull --only-if-changed $COMMON_OPTS 2>&1
fi